<div class="additive-force">
  <shap-additive-force
    [link]="'identity'"
    [baseValue]="1.0"
    [outNames]="['Income']"
    [labelMargin]="200"
    [hideBaseValueLabel]="true"
  ></shap-additive-force>
</div>

<div class="shap-additive-force-array">
  <shap-additive-force-array
    [plotColors]="['rgb(0, 255, 13)', 'rgb(111, 207, 151)']"
    [baseValue]="100"
  ></shap-additive-force-array>
</div>

<div class="shap-influence">
  <shap-influence
    [influenceColors]="['rgb(222, 53, 13)', 'rgb(111, 207, 151)']"
    [predictions]="[1]"
    [predictionNames]="['Income']"
    [labelAmount]="7"
  ></shap-influence>
</div>

<div class="captum-text">
  <captum-text
    [raw_input_ids]="['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy','The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy','The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy','The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy','The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy','The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy']"
    [word_attributions]="[0.5, -0.7, 0.3, -0.9, 0.1, 0.8, -0.4, -0.2,0.5, -0.7, 0.3, -0.9, 0.1, 0.8, -0.4, -0.2,0.5, -0.7, 0.3, -0.9, 0.1, 0.8, -0.4, -0.2,0.5, -0.7, 0.3, -0.9, 0.1, 0.8, -0.4, -0.2,0.5, -0.7, 0.3, -0.9, 0.1, 0.8, -0.4, -0.2,0.5, -0.7, 0.3, -0.9, 0.1, 0.8, -0.4, -0.2]"
    [pred_class]="'Positive'"
    [attr_class]="'Positive'"
    [attr_score]="0.7"
  ></captum-text>
</div>
<div class="captum-text">
  <captum-text
    [raw_input_ids]="textExplanation.explanations[0].words[0]"
    [word_attributions]="textExplanation.explanations[0].importances[0]"
    [pred_class]="textExplanation.explanations[0].prediction[0]"
    [attr_score]="textExplanation.explanations[0].delta[0]"
  ></captum-text>
</div>

<div class="captum-visual">
  <captum-image
    [prediction]="'True'"
    [original]="imageExplanation.originals[0].b64"
    [explanation]="imageExplanation.explanations[0].b64"
  ></captum-image>
</div>