<div class="captum-visual">
  <div class="captum-visual__prediction" *ngIf="prediction !== null">
    <div>
      <label>Prediction</label><br />
      <span>{{ prediction }}</span>
    </div>
  </div>
  <div class="captum-visual__images">
    <div class="captum-visual__original-image" *ngIf="original">
      <label>Original</label>
      <img [src]="original" />
    </div>
    <div class="captum-visual__explanation-image" *ngIf="explanation">
      <label>Explanation</label>
      <img [src]="explanation" />
    </div>
  </div>
</div>
