@import '../sass/fonts';

.captum-visual {
  @include standard;
  font-weight: 500;
  letter-spacing: -0.12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__prediction {
    padding-left: 6px;
    span {
      @include span;
      font-weight: 400;
    }

    label {
      @include label;
    }
  }

  &__images {
    display: flex;
    gap: 16px;
  }

  &__original-image {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    max-height: 250px;

    label {
      @include label;
      padding-left: 6px;
    }
  }

  &__explanation-image {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    max-height: 250px;

    label {
      @include label;
      padding-left: 6px;
    }
  }
}
