@import 'colors';
$font-family: "Helvetica Neue";

@mixin standard() {
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@mixin label() {
  color: $text-primary;
  font-size: 12px;
  letter-spacing: 0.24px;
}

@mixin span() {
  color: $text-secondary;
  font-size: 14px;
  letter-spacing: 0.7px;
}
