@import '../sass/colors';
@import '../sass/fonts';

.captum-text {
  @include standard;
  display: inline-flex;
  padding: 24px;
  align-items: flex-start;
  gap: 24px;
  color: #000;

  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 600px;

    label {
      @include label;
      font-weight: 500;
      padding-bottom: 8px;
    }

    span {
      @include span;
      padding-top: 8px;
    }

    br {
      padding-top: 8px;
    }

    div {
      padding-bottom: 8px;
    }
  }

  &__prediction {
    display: flex;
    gap: 24px;
  }

  &__explanation {
    word-wrap: normal;
  }

  &__explanation-test {
    opacity: 1;
    line-height: 1.75;
  }

  &__right-padding {
    padding-bottom: 64px;
  }

  &__right-header {
    @include label;
    font-weight: 500;
  }

  &__right-body {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding-top: 8px;

    color: $text-primary;
    font-size: 12px;
    letter-spacing: -0.08px;
  }

  &__right-gradient {
    .gradient-box-pos {
      width: 24px;
      height: 60px;
      background: linear-gradient(
        to bottom,
        hsl(144, 43%, 48%),
        hsl(144, 43%, 100%)
      );
    }
    .gradient-box-neg {
      width: 24px;
      min-height: 60px;
      background: linear-gradient(
        to bottom,
        hsl(12, 90%, 100%),
        hsl(12, 90%, 46%)
      );
    }
  }

  &__right-legend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top-right-label {
      top: 10px;
      right: 10px;
    }

    .bottom-right-label {
      bottom: 10px;
      right: 10px;
    }
  }
}
