<div class="captum-text">
  <div class="captum-text__left">
    <div
      *ngIf="pred_class || attr_class || attr_score"
      class="captum-text__prediction"
    >
      <div *ngIf="pred_class !== null">
        <label>Prediction</label><br />
        <span>{{ pred_class }}</span>
      </div>
      <div *ngIf="attr_class !== null">
        <label>Attribution class</label><br />
        <span>{{ attr_class }}</span>
      </div>
      <div *ngIf="attr_score !== null">
        <label>Attribution score</label><br />
        <span>{{ attr_score }}</span>
      </div>
    </div>
    <div class="captum-text__explanation">
      <label>Explanation</label><br />
      <mark
        *ngFor="let explanationTextSection of explanationText; let i = index"
        [ngStyle]="wordColorsCss[i]"
        class="captum-text__explanation-text"
        >{{ explanationTextSection.word }}
      </mark>
    </div>
  </div>
  <div class="captum-text__right">
    <div
      *ngIf="pred_class || attr_class || attr_score"
      class="captum-text__right-padding"
    ></div>
    <label class="captum-text__right-header">Influence</label>
    <div class="captum-text__right-body">
      <div class="captum-text__right-gradient">
        <div class="gradient-box-pos"></div>
        <div class="gradient-box-neg"></div>
      </div>
      <div class="captum-text__right-legend">
        <div class="top-right-label">Positive</div>
        <div class="bottom-right-label">Negative</div>
      </div>
    </div>
  </div>
</div>
